body{
    background-color: rgb(178, 193, 194);
}

.wrapper{
    background-color: rgb(255, 255, 255);
    border-radius: 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.wrapper header{
    width: 100%;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 5rem;
    margin-top: 2rem;
}

header nav a{
    text-decoration: none;
    color:grey;
    font-size: 17px;
}

header section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
}

header section img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 40rem;
}

header section article{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-top: 2rem;
}

header section article h1{
    font-size: 50px;
    margin-bottom: 0;
    margin: auto;
}

header section article p{
    background-color: rgb(201, 210, 211);
    display: flex;
    justify-content: center;
    align-items: left;
    font-size: 25px;
    margin-top: 1rem;
    text-align: center;
    max-width: 450px;
    border-radius: 0.5rem;
    padding: 1rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

main h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .s1 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

main .s1 article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(184, 171, 171);
    width: 190px;
    height: 250px;
    border-radius: 0.25rem;
    padding: 1rem;
}

main .s1 .a1 h2{
    color: rgb(41, 38, 38);
    margin-top: auto 0 0 0;
    text-align: center;
    font-size: 30px;
}

main .s1 .a2 h2{
    color: rgb(26, 24, 24);
    margin-top: auto 0 0 0;
    text-align: center;
    font-size: 25px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

main .s1 article a{
    color: rgb(41, 38, 38);
    text-decoration: none;
    font-weight: 1000;
    background-color: white;
    border-radius: 0.2rem;
    padding: 0.2rem
}

main .s1 .a1{
    background-image: url(https://github.com/OlofSvahn/Mypage/blob/main/blurry.jpg?raw=true);
}

main .s1 .a2{
    background-image:url(https://github.com/OlofSvahn/Mypage/blob/main/SP/donkey-2996965__340.jpg?raw=true);
    background-position: center;
}