body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("bak.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    background-color: white;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    box-shadow:rgb(15, 14, 14);
    border-radius: 0.8rem;
}
form input, form select{
    max-width: 220px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: rgb(32, 30, 30);
}

form label, form label{
    font-size: 18px;
}