body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://github.com/OlofSvahn/Mypage/blob/main/blurry.jpg?raw=true");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body div{
    background-color: white;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
    box-shadow:rgb(15, 14, 14);
    border-radius: 0.8rem;
}
body div section{
    background-color: rgb(173, 224, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 260px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 3px 3px 5px 3px #ccc;
    border-radius: 0.8rem;
}

body div section h2{
    margin-top: 0.5rem;
}

body div .sec2 h2{
    font-size: 23px;
} 

body div section p{
    margin-left: 0.1rem;
    text-align: center;
}